/* Block */
.block{
    padding: 2rem 8px;
    width:100%; 
    box-sizing: border-box;

    .block__heading{
        font-style: italic;
        margin: 0;  
    }
    p{
        margin-top: 0.3rem;
        margin-bottom: 0;
    }

    
}
.block--accent{
    background: rgb(236, 234, 234);
    color: var(--primary-color);
    
    .block__header{
        color: var(--primary-color);  
    }
    .block__heading{
        border-bottom: 1px solid var(--primary-color);
    }
}
.block--primary{
    background-color: var(--primary-color);
    color: var(--secondary-color);


    .block__header{
        color: var(--secondary-color);
    }
    .block__heading{
        border-bottom: 1px solid var(--secondary-color);
    }
}


@media screen and (min-width:768px) {
    .block__header{
        margin-bottom: 2rem;
    }
}




