/* Navigation Bar */
.nav{
    background:var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
    align-items: center;
    .nav__list{
        width: 100%;
        margin: 0;
    }
    .nav__item{
        padding: 0.5rem 0.2rem;
        border-bottom: 1px solid #222;
    }
    .nav__item>a{
        color: #fefeff;
        text-decoration: none;
        transition: all 0.5s;
    }
    .nav__heading{
        color: white;
        transition: all 0.3s;
        text-decoration: none;
    }
    .nav__heading:hover{
        font-size: 150%;
    }
    .nav__item>a:hover{
        color: rgb(27, 27, 27);
        font-size:120%;
    }
    .nav__menu-btn{
        opacity: 0.5;
        transition: all 0.5s;
        cursor: pointer;
    }
}
.nav.collapsible--expanded{

    .nav__heading{
        color: var(--secondary--color);
    }
    .nav__menu-btn{
        opacity: 1;
        box-shadow: 0 0 0px 3px #666;
        border-radius: 5px;
    }
}








@media screen and (min-width:768px) {
    .nav{
        justify-content: center;
        .nav__menu-btn, 
        .nav__heading{
        display: none;
        }
        .nav__item{
        border: 0;
        margin: 0 1rem;
        }
    }
    
    
}
