.project-block{
    padding: 2rem 5px;
    .project-block__image{
        width: 100%;
        height: 100%;
    }
    .block__header{
        margin-bottom: 1rem;
    }
}



@media screen and (min-width:768px) {
    .project-block .block__heading{
        border-bottom: 0;
    }
    
    .project:nth-of-type(even) .block__header{
        order: 2;
        padding-left: 1rem;
    }
}