<section class="extended-bg block--accent">
  <section class="block container">
    <header class="block__header">
      <h2 class="block__heading">About</h2>
      <p>My BACKGROUND</p>
    </header>
    <p>
      Young and anthusiastic developer with excellent academic record and
      motivation to harness my potential in a mutually beneficial environment.As
      an upbeat, self-motivated team player with excellent communication, I
      envision an exciting future in the industry. Browse my site to see all
      that I have to offer.
    </p>
  </section>
</section>
