<section class="extened-bg block--primary">
  <section class="xp-block container grid grid--1x2">
    <section class="block">
      <header class="block__header">
        <h2 class="block__heading">Education</h2>
        <p>WHAT I"VE LEARNED</p>
      </header>
      <ul class="list">
        <li>
          <h3>2020 - 2024</h3>
          <p>
            BS in Software Engineering. <br />
            International Islamic University Islamabad. <br />
            3.61 CGPA
          </p>
        </li>
        <li>
          <h3>2018 - 2020</h3>
          <p>
            Intermediate in Pre-engineering.(RWP Board) <br />
            Cadet College Jajja , Rawalpindi<br />
            80% (A1 Grade)
          </p>
        </li>
        <li>
          <h3>2016 - 2018</h3>
          <p>
            Matriculation in Biology. (Federal Board) <br />
            Manjanbazam Cadet College Ghazi Campus , Terbella <br />
            80% (A1 Grade)
          </p>
        </li>
      </ul>
    </section>
    <section class="block">
      <header class="block__header">
        <h2 class="block__heading">Experience</h2>
        <p>WHERE I"VE WORKED</p>
      </header>
      <ul class="list">
        <li>
          <h3>Jul 2023 - Present</h3>
          <p>Atria Logics. , Web Development Intern</p>
        </li>
      </ul>
    </section>
  </section>
</section>
