<section class="extened-bg block--accent">
  <section class="block container skill-block">
    <header class="block__header">
      <h2 class="block__heading">Skills and Languages</h2>
      <p>What I bring to the table</p>
    </header>
    <div class="list grid skill__box">
      <span class="skill">
        <label for="HTML"
          >HTML
          <progress id="HTML" max="100" value="90"></progress>
        </label>
      </span>
      <span class="skill">
        <label for="CSS"
          >CSS
          <progress id="CSS" max="100" value="90"></progress>
        </label>
      </span>
      <span class="skill">
        <label for="Javascript"
          >Javascript
          <progress id="Javascript" max="100" value="60"></progress>
        </label>
      </span>
      <span class="skill">
        <label for="C++"
          >C++
          <progress id="C++" max="100" value="90"></progress>
        </label>
      </span>
      <span class="skill">
        <label for="C#"
          >C#<progress id="C#" max="100" value="90"></progress>
        </label>
      </span>
      <span class="skill">
        <label for="DSA"
          >DSA
          <progress id="DSA" max="100" value="95"></progress>
        </label>
      </span>
      <span class="skill">
        <label for="content"
          >Content Writing
          <progress id="content" max="100" value="100"></progress>
        </label>
      </span>
      <img class="skill-block__line-icon" src="../images/line.svg" alt="" />
      <span class="skill">
        <label for="content"
          >Urdu
          <progress id="urdu" max="100" value="90"></progress>
        </label>
      </span>
      <span class="skill">
        <label for="content"
          >English
          <progress id="english" max="100" value="95"></progress>
        </label>
      </span>
    </div>
  </section>
</section>
