<section class="extended-bg block--primary">
  <section class="container grid grid--2x2">
    <section class="block">
      <header class="block__header">
        <h2 class="block__heading">Achievements</h2>
        <p>WHERE I SHINE</p>
      </header>
      <ul class="list">
        <li>
          <h3>2<sup>nd</sup> Position</h3>
          <p>Fifth Semester of BSSE</p>
        </li>
        <li>
          <h3>3<sup>rd</sup>Position</h3>
          <p>Fourth Semester of BSSE</p>
        </li>
        <li>
          <h3>4<sup>th</sup>Position</h3>
          <p>Third Semester of BSSE</p>
        </li>
      </ul>
    </section>
    <section class="block">
      <header class="block__header">
        <h2 class="block__heading">Interests</h2>
        <p>OUT OF OFFICE</p>
      </header>
      <table class="table">
        <tr>
          <td>Book Reading</td>
          <td>Rock Climbing</td>
        </tr>
        <tr>
          <td>Football</td>
          <td>E-Gaming</td>
        </tr>
        <tr>
          <td>Sports</td>
          <td>Comics</td>
        </tr>
        <tr>
          <td>Hiking</td>
          <td>Traveling</td>
        </tr>
        <tr>
          <td>Anime</td>
          <td>Movies</td>
        </tr>
      </table>
    </section>
  </section>
</section>
