<section class="extended-bg block--accent">
  <section class="container grid grid--1x2 intro-box ending-box">
    <h2><em>I'd love to hear from you.</em></h2>
    <span>
      <a class="intro-box__email" href="mailto: mjamraiz1@gmail.com"
        >mjamraiz1@gmail.com</a
      >
      <p>+92-3157279793</p>
    </span>
    <div class="intro-box__icon-box">
      <a
        class="intro-box__icon-link"
        href="https://www.linkedin.com/in/minhaj-jamraiz-03b532228/"
        target="_blank"
      >
        <img class="intro-box__icon" src="../images/linkedIn-logo.png" alt="" />
      </a>
      <a
        class="intro-box__icon-link"
        href="https://www.instagram.com/minhaj_jamraiz/"
        target="_blank"
        ><img class="intro-box__icon" src="../images/insta-logo.png" alt="" />
      </a>
      <a
        class="intro-box__icon-link"
        href="https://www.facebook.com/profile.php?id=100011143920516"
        target="_blank"
      >
        <img class="intro-box__icon" src="../images/facebook-logo.png" alt="" />
      </a>
    </div>
    <span>
      <a
        class="btn btn--primary intro-box__btn"
        href="../download/Minhaj's Resume.pdf"
        download
        >Download CV</a
      >
    </span>
  </section>
</section>
