<header>
  <nav class="nav collapsible">
    <h3><a class="nav__heading" href="#">Minhaj Jamraiz</a></h3>

    <img
      class="icon nav__menu-btn collapsible__icon"
      src="../images/menu.svg"
      alt=""
    />

    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#">About</a></li>
      <li class="nav__item"><a href="#">Education & Experience</a></li>
      <li class="nav__item"><a href="#">Skills & Languages</a></li>
      <li class="nav__item"><a href="#">Awards & Interests</a></li>
    </ul>
  </nav>
</header>
