<section class="block block--accent">
  <section class="block container">
    <header class="block__header">
      <h2 class="block__heading">My Projects</h2>
      <p>WHAT I"VE DONE</p>
    </header>
    <section class="project-block block--primary">
      <section class="project block grid grid--2x2">
        <div class="block__header">
          <h2 class="block__heading">Responsive Email Templates</h2>
          <p>
            Templates of email that are compatible with different email service
            providers and have a responsive structure that can adjust itself
            according to screen size.
          </p>
          <h3>Languages</h3>
          <p>
            HTML <br />
            Inline CSS
          </p>
        </div>
        <div>
          <img
            class="project-block__image"
            src="../images/laptop-bg.png"
            alt=""
          />
        </div>
      </section>
      <section class="project block grid grid--2x2">
        <div class="block__header">
          <h2 class="block__heading">Expense Calculator</h2>
          <p>
            An application that uses your monthly bills, travel expenses and
            food bills as inputs to calculate your total monthly expenses.
          </p>
          <h3>Languages</h3>
          <p>C#</p>
        </div>
        <div>
          <img
            class="project-block__image"
            src="../images/laptop-bg.png"
            alt=""
          />
        </div>
      </section>
      <section class="project block grid grid--2x2">
        <div class="block__header">
          <h2 class="block__heading">Tower of Hanoi</h2>
          <p>
            A simple game that requires you to move all the numbers from one
            tower to another while adhering to certain rules.
          </p>
          <h3>Languages</h3>
          <p>C++</p>
        </div>
        <div>
          <img
            class="project-block__image"
            src="../images/laptop-bg.png"
            alt=""
          />
        </div>
      </section>
      <section class="project block grid grid--2x2">
        <div class="block__header">
          <h2 class="block__heading">Smart Banker</h2>
          <p>
            A simple client side single user banking console application where a
            user can login, deposit money, withdraw money, check balance and
            send money.
          </p>
          <h3>Languages</h3>
          <p>C++</p>
        </div>
        <div>
          <img
            class="project-block__image"
            src="../images/laptop-bg.png"
            alt=""
          />
        </div>
      </section>
      <section class="project block grid grid--2x2">
        <div class="block__header">
          <h2 class="block__heading">Leap Year Calculator</h2>
          <p>
            A 400 years calculator that marks the leap year with a color that is
            different from the rest of the years and it also contains a leap
            year calculator.
          </p>
          <h3>Languages</h3>
          <p>C++</p>
        </div>
        <div>
          <img
            class="project-block__image"
            src="../images/laptop-bg.png"
            alt=""
          />
        </div>
      </section>
    </section>
  </section>
</section>
